.nav_items{
  font-size: 15px;
  margin-left: 20%;
  color: white;
}

body{
  background-color: #666666;

}

.def{
  background-color: #4c4c4c;
  min-height: 100px;

}

.symbol{
  color: white;
  margin-left: 10%;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;

}

.abc{
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Epilogue', sans-serif;
  color: white;
}

#nav-toggle-button{
    background-color:white;
}

a.abc,
a.abc:hover {
  color: white;
}

a.symbol,
a.symbol:hover {
  color: white;
}

.frontimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  height: auto;
  background-size: cover;
}
